<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射文件配置 namespace指向接口-->
<mapper namespace="live.yremp.community.mapper.QuesMapper">
    <resultMap id="QuestionResult" type="live.yremp.community.entity.Question">
        <id column="ques_id" property="ques_id" />
        <result column="ques_title" property="ques_title"/>
        <result column="ques_desc" property="ques_desc"/>
        <result column="ques_userid" property="ques_userid" />
        <result column="ques_comment" property="ques_comment" />
        <result column="ques_read" property="ques_read"/>
        <result column="ques_like" property="ques_like"/>
        <result column="gmt_create" property="gmt_create"/>
        <result column="gmt_modified" property="gmt_modified" />
        <result column="ques_tags" property="ques_tags"/>
    </resultMap>
    <insert id="Insert" parameterType="live.yremp.community.entity.Question">
        INSERT INTO `community`.`ques`( `ques_title`, `ques_desc`, `ques_userid`, `ques_comment`, `ques_read`, `ques_like`, `gmt_create`, `gmt_modified`, `ques_tags`)
        VALUES (#{ques_title}, #{ques_desc},#{ques_userid}, #{ques_comment}, #{ques_read}, #{ques_like}, #{gmt_create}, #{gmt_modified}, #{ques_tags});
        -- 将id回填 select Last_INSERT_ID() 获取最新插入的id
        <selectKey keyProperty="ques_id" keyColumn="ques_id" resultType="Integer" order="AFTER">
            select Last_INSERT_ID()
        </selectKey>
    </insert>
    <select id="QueryAll" resultMap="QuestionResult" parameterType="Integer">
        select * from ques ORDER BY gmt_create desc limit #{offset} ,#{size}
    </select>
    <select id="QueryAllByUserId" resultMap="QuestionResult" parameterType="Integer">
        select * from ques where ques_userid=#{user_id} ORDER BY gmt_create desc limit #{offset} ,#{size}
    </select>
    <select id="count" resultType="Integer">
        select count(1) from ques
    </select>
    <select id="countByUserId" resultType="Integer" parameterType="Integer">
        select count(1) from ques where ques_userid=#{user_id}
    </select>
    <select id="findById" resultType="live.yremp.community.entity.Question" parameterType="Integer">
        select * from ques where ques_id=#{ques_id}
    </select>
    <update id="upDate">
        update ques set ques_title=#{ques_title} ,ques_desc=#{ques_desc} ,ques_tags=#{ques_tags} where ques_id=#{ques_id}
    </update>
    <update id="UpDateRead">
        update ques set ques_read=#{ques_read}  where ques_id=#{ques_id}
    </update>
    <update id="UpDateComment">
        update ques set ques_comment=#{ques_comment} where ques_id=#{ques_id}
    </update>
    <select id="SelectRelatated" parameterType="live.yremp.community.entity.Question"  resultMap="QuestionResult">
        select * from ques where ques_id!=#{ques_id} and ques_tags regexp #{ques_tags}
    </select>
    <delete id="DeleteById" parameterType="Integer">
        delete from ques where ques_id=#{value}
    </delete>
    <select id="QueryBySerchList" parameterType="java.lang.String" resultType="live.yremp.community.entity.Question">
        select * from ques
        <where>
            <if test="search !=null and search !=''">
                ques_title regexp #{search}
            </if>
        </where>
    </select>
    <select id="QueryBySerch" parameterType="java.lang.String" resultType="live.yremp.community.entity.Question">
        select * from ques
        <where>
            <if test="search !=null and search !=''">
                 ques_title regexp #{search}
            </if>
        </where>
        limit #{offset} ,#{size}
    </select>

</mapper>