<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件配置 namespace指向接口-->
<mapper namespace="live.yremp.community.mapper.UserMapper">

    <!--新增一条数据-->
    <insert id="Insert" parameterType="live.yremp.community.entity.User">
        INSERT INTO `user`( `account_id`, `user_name`, `user_token`, `user_img`, `gmt_create`,
        `gmt_modified`, `user_bio`, `user_blog`, `user_github`)
        VALUES ( #{account_id}, #{user_name}, #{user_token},#{user_img}, #{gmt_create},
        #{gmt_modified},#{user_bio},#{user_blog},#{user_github});
        -- 将id回填 select Last_INSERT_ID() 获取最新插入的id
        <selectKey keyProperty="user_id" keyColumn="user_id" resultType="Integer" order="AFTER">
            select Last_INSERT_ID()
        </selectKey>
    </insert>
    <select id="findByToken" parameterType="String" resultType="live.yremp.community.entity.User">
        select * from user where user_token=#{value}
    </select>
    <select id="findById" parameterType="Integer" resultType="live.yremp.community.entity.User">
        select * from user where user_id=#{user_id}
    </select>
    <select id="findByGithubId" parameterType="String" resultType="live.yremp.community.entity.User">
        select * from user where account_id=#{user_id}
    </select>
    <update id="upTokenById">
        UPDATE `user` SET `user_token` =#{token} WHERE `user_id` = #{user_id}
    </update>
    <update id="Update">
        UPDATE `user` SET  `user_name` = #{user_name}, `user_img` = #{user_img},
    `user_bio` = #{user_bio}, `user_blog` = #{user_blog}, `user_github` = #{user_github}
    WHERE `user_id` = #{user_id};
    </update>
</mapper>
